body {
  background-color: rgb(214, 151, 25);
  font-family: Arial, Helvetica, sans-serif;

  padding: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  gap: 15px;
}

button {
  font-size: 1.1rem;
  width: 100px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #444444;
  color: wheat;
}

#content {
  margin-top: 50px;
}

#logo {
  width: 400px;
  height: auto;
}

h1 {
  font-size: 3rem;
}

#solgan {
  font-size: 1.5rem;
  font-weight: 550;
}
